# 311 San Francisco Call Analysis

### Importation of Relevant Packages

In [206]:
from datetime import datetime
from sodapy import Socrata
import pandas as pd
import numpy as np
import requests

### For Ignoring Warnings

In [ ]:
import warnings
warnings.filterwarnings("ignore")

### Importing the Dataset

In [75]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.sfgov.org", app_token = 'bjDfNExr5LU9luJGfKY2JYVmP', username="solerjaklyn@gmail.com", password="sanfrancity311!")

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.sfgov.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.

results = client.get("vw6y-z8j6", limit=4597670) #what does this dataset identifier correlate to

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [76]:
results_df.size

216090490

In [77]:
results_df.tail()

,service_request_id,requested_datetime,updated_datetime,status_description,agency_responsible,service_name,service_subtype,service_details,address,lat,...,:@computed_region_9dfj_4gjx,:@computed_region_n4xg_c4py,:@computed_region_4isq_27mq,:@computed_region_pigm_ib2e,:@computed_region_6ezc_tdp2,:@computed_region_h4ep_8xdi,:@computed_region_viu7_rrfi,:@computed_region_2dwj_jsy4,closed_date,:@computed_region_y6ts_4iup
4597665,240222,2008-07-01T03:03:08.000,2008-07-01T06:10:23.000,Closed,DPW Ops Queue,Street and Sidewalk Cleaning,General Cleaning,Other Loose Garbage,Intersection of BROOK ST and MISSION ST,37.740642547607,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-07-01T06:10:23.000,NaN
4597666,240221,2008-07-01T02:07:11.000,2008-07-08T10:03:41.000,Closed,DPT Abandoned Vehicles Work Queue,Abandoned Vehicle,Abandoned Vehicle - Car4door,DARK BLUE - FORD - CROWN VICTORIA - 3WBG858,"1271 EDDY ST, SAN FRANCISCO, CA, 94115",37.781799316406,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-07-08T10:03:41.000,NaN
4597667,240220,2008-07-01T01:56:58.000,2008-07-01T06:10:23.000,Closed,DPW Ops Queue,Tree Maintenance,Trees - Damaged_Tree,Hanging_limb,Intersection of 2ND AVE and IRVING ST,37.764366149902,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-07-01T06:10:23.000,NaN
4597668,240216,2008-07-01T00:26:34.000,2008-07-01T06:10:23.000,Closed,DPW Ops Queue,Street and Sidewalk Cleaning,Bulky Items,Mattress,Intersection of 18TH AVE and JUDAH ST,37.761745452881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-07-01T06:10:23.000,NaN
4597669,240215,2008-07-01T00:13:13.000,2008-07-02T16:05:13.000,Closed,DPW Ops Queue,Street and Sidewalk Cleaning,General Cleaning,Other Loose Garbage,"408 UNION ST, SAN FRANCISCO, CA, 94133",37.800987243652,...,21,NaN,23,23,NaN,NaN,NaN,NaN,2008-07-02T16:05:13.000,NaN

In [4]:
%load_ext memory_profiler

In [5]:
%memit

peak memory: 37.86 MiB, increment: -0.16 MiB

In [ ]:
results_df.head()

### Viewing Columns

In [1]:
results_df.columns

NameError: name 'results_df' is not defined

### Viewing NaN Values

In [ ]:
results_df.isna().sum()

### New Column for Time Information

In [ ]:
For now, all that is needed is the date of the request.

In [ ]:
results_df['Date'] = results_df.requested_datetime.str[0:10]

### Checking for New Date Column

In [ ]:
results_df['Date'][0]

### Keeping Essential Columns Only

In [ ]:
results_df.columns

In [ ]:
results_df.police_district

In [ ]:
time_df = results_df[['service_request_id','Date','agency_responsible','service_name', 'service_subtype', 'service_details', 'address', 'supervisor_district', 'neighborhoods_sffind_boundaries', 'police_district']]

In [ ]:
time_df.head()

In [ ]:
time_stamp = pd.to_datetime(date_string)
date_time = time_stamp.date()

In [ ]:
time_df.Date = pd.to_datetime(time_df.Date)

### Checking Out Data Types

In [ ]:
time_df.info()

### Observing Size of Data

In [ ]:
time_df.size

### Removing Data Before 2015

In [ ]:
before_df = time_df[time_df['Date'] > '2015-01-01']

### Checking Date Data

In [ ]:
before_df.tail()

In [6]:
### Checking Dataframe Size

peak memory: 37.89 MiB, increment: 0.02 MiB

In [ ]:
before_df.size

In [ ]:
### Viewing NaN Values Again

In [ ]:
before_df.isna().sum()

In [ ]:
### Stop Truncating Data

In [ ]:
pd.set_option('display.max_columns', None) #prevents trailing elipses
pd.set_option('display.max_rows', None)

In [ ]:
### Observing Types of Main Service Requests

In [ ]:
before_df.service_name.value_counts()

In [ ]:
### Description of Various Relevant Topics

In [ ]:
you could go ahead and look through the first 30 of these and figure out what you want to do as far as those.

In [7]:
%memit

peak memory: 37.90 MiB, increment: 0.01 MiB